@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
    background: #2a2438;
}
::-webkit-input-placeholder{
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #555555;
}
::-webkit-scrollbar{
    background-color: #2a2438;
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background: #534d63;
    border-radius: 10px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 170vh;
}
.container{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    padding:50px 50px 0 50px;
    position: relative;
    bottom: 30px;
    background: #352f44;
    width: 375px;
    height: 760px;
    border-radius: 20px;  

}
.convert-area{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: 25px ;
    width: 327px;
    height: 325px;
    border-radius: 20px;
    border: 1px solid #772FD3;

}
.extrange{
    position: relative;
    top: 0px;
}
.real{
    position: relative;
    top: 5px;
}
.name-money{
    position: relative;
    bottom: 12px;
    color: #863ee4;
    opacity: 0.9;
    font-size: 14px;
    font-weight: 900;
    line-height: 18px;
    letter-spacing: 1px;
    text-align: left;
    left: 1.5px;
}
.name-money:nth-child(2){
    bottom: 10px;
}
.money-convert-prime{
    position: relative;
    bottom: 15px;
    text-align: center;
    color: #dbd8e3;
}
.money-convert-second{
    position: relative;
    bottom: 15px;
    text-align: center;
    color: #dbd8e3;
    margin: 0 0 ;
}
.money-convert-third{
    position: relative;
    bottom: 15px;
    text-align: center;
    color: #dbd8e3;
}

.convert-para{
    position: relative;
    right: 115px;

}
.Logo{
    position: relative;
    bottom: 60px;
}
input{
    width: 327px;
    height: 48px;
    border-radius: 4px;
    margin: 0 0 30px 0;
    border: 1px solid #772FD3; 
    background: #ffff;
    outline: none;
    font-size: 16px;
    padding-left: 10px;
    color: #555555;
    font-weight: 700;
}
button{
    width: 327px;
    height: 48px;
    border-radius: 5px;
    background:#772FD3;
    border: none;
    color: white;
    box-shadow: 0px 4px 4px 0px #00000040;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    transition: 300ms;

}
button:hover{
    background: #8355c0;
    transition: 300ms;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    width: 327px;
    height: 48px;
    border-radius: 4px;
    border: 1px solid #772FD3;
    padding: 0 10px;
    margin: 0px 0px 30px 0;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    text-align: left;
    color: #555555;
    outline: none;
}
label{
    color: #dbd8e3;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}
img{
   margin: 14px 0 0 0;
}
